.profile-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.review-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.clicky-stuff {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
