body {
    background-image: linear-gradient(to left top, #e6ee4e, #cce954, #b3e45c, #9bde64, #84d76c);
    height: 100vh;
}

.logo {
    width: 600px;
    height: auto;
}

.home-graphics-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    display: flex;
    justify-content: space-between;
}