.navigation-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue';
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
}

.navigation-bar a:visited {
    color: white;
}

.navigation-bar button {
    background-color: #F76767;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 5px;
}