.my-reqs-recd-list {
    display: flex;
    justify-content: flex-start;
}

.my-reqs-recd {
    display: flex;
    justify-content: center;
    width: 400px;
    color: black;
    background-color: #bbe6c0;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    border: 10px solid black;
    padding: 15px;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
