.reqs-recd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.received-title {
    text-decoration: underline;
    font-family: 'Optima';
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.my-reqs-recd {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: black;
    background-color: #bbe6c0;
    font-weight: bold;
    border: 10px solid black;
    padding: 15px;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-reqs-recd-date {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.my-reqs-recd-res {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-reqs-recd-no:hover {
    color: #c04746;
    cursor: pointer;
}

.my-reqs-recd-yes:hover {
    color: #21b786;
    cursor: pointer;
}
