.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    background-color: #bbe6c0;
    border-top: 10px solid black;
}

.logo-court {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.court-info {
    font-family: 'Optima';
    font-weight: bold;
    background-color: #21b786;
    border: 10px solid black;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.court-name {
    font-size: 2.5rem;
}

.court-address {
    font-size: 1rem;
}

.button-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-to-home-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 10px;
    margin-right: 10px;
}

.back-to-home-button button {
    color: black;
    background-color: #bbe6c0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    border: 0;
}

.remove-court-button {
    margin-top: 10px;
    margin-left: 30px;
}

.remove-court-button button {
    color: black;
    background-color: #bbe6c0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    border: 0;
}
